body{
	background: url('mainground.png');
    margin: 0;
    padding: 0;
	font-family: 'CookieRun-Regular';
	font-size: 24px;
	width: 100%;
	height: 100%;
}
#cloud1 {
    position: absolute;
    top: 460px;
    left: 0;
    width: 100%;
    height: 55%;
}
#cloud2 {
    position: absolute;
    top: 511px;
    left: 0;
    width: 100%;
    height: 50%;
}
#brave{
    position: absolute;
    top: 510px;
    left: 725px;
    width: 20%;
    height: 33%;
    animation: motion 1s linear 0s infinite alternate; margin-top: 0;
}
#straw{
    position: absolute;
    top: 570px;
    left: 1040px;
     width: 13%;
    height: 27%;
    animation: motion 1.5s linear 0s infinite alternate; margin-top: 0;
}
#custard{
    position: absolute;
    top: 560px;
    left: 520px;
    width: 15%;
    height: 29%;
    animation: motion 1.5s linear 0s infinite alternate; margin-top: 0;
}
#wizard{
    position: absolute;
    top: 490px;
    left: 340px;
    width: 14%;
    height: 27%;
    animation: motion 1s linear 0s infinite alternate; margin-top: 0;
}
#chilly{
    position: absolute;
    top: 480px;
    left: 1260px;
    width: 14%;
    height: 26%;
	animation: motion 1s linear 0s infinite alternate; margin-top: 0;
}
#logo {
    position: absolute;
    top: 100px;
    left: 680px;
    width: 28%;
    height: 35%;

}
@keyframes motion{
        0% {margin-top: 0px;}
        100% {margin-top: 10px;}
}


a {
	text-decoration: none;
	color: white;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #993333;
	padding: 6px 12px;
}

.navbar_logo{
	font-size: 24px;
	color: white;
}

.navbar_logo i {
	color: #ff9999;
}

.navbar_menu {
	display: flex;
	list-style: none;
	padding-left: 0;
}

.navbar_menu li:hover {
	background-color: #ff9999;
	border-radius: 4px;
}

.navbar_menu li {
	padding: 8px 20px;
}

.navbar_icons {
	list-style: none;
	color: white;
	display: flex;
	padding-left: 0;
}

.navbar_icons li {
	padding: 8px 12px;
}

.navbar_toogleBtn {
	display: none;
	position: absolute;
	right: 32px;
	font-size: 24px;
	color: #ff9999;
}

@media screen and (min-width: 1025px){
	body{
		background: url('mainground.png');

		font-family: 'CookieRun-Regular';
		font-size: 20px;

		margin: 0rem;
	    padding: 0rem;
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-size: cover;
	}
	#cloud1 {
	    position: absolute;
	    bottom: 0%;
	    width: 100%;
	    height: 40%;
	}
	#cloud2 {
	    position: absolute;
	    bottom: 0%;
	    width: 100%;
	    height: 40%;
	}
	#cookies{
	    position: absolute;
	    bottom: 7%;
	    left: 25%;
	    width: 50%;
	    height: 40%;

	    margin: 0 auto;
	    animation: motion 1s linear 0s infinite alternate; margin-bottom: 0;
	}
	#logo {
	    position: absolute;
	    top: 15%;
	    left: 37%;
	    width: 25%;
	    height: 30%;
	}
	.footer {
		background-color: #993333;
		width: 100%;
		position: absolute;
		bottom: 0%;
	}
	#footer1{
		text-align: center;
		color: white;
		font-size: 10px;
	}

	@keyframes motion{
	        0% {margin-bottom: 0px;}
	        100% {margin-bottom: 10px;}
	}
}

@media screen and (min-width: 480px) and (max-width: 1024px){
	body{
		background: url('mainground.png');

		font-family: 'CookieRun-Regular';
		font-size: 17px;

		margin: 0rem;
	    padding: 0rem;
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-size: cover;
	}
	#cloud1 {
	    position: absolute;
	    bottom: 0%;
	    width: 100%;
	    height: 30%;
	}
	#cloud2 {
	    position: absolute;
	    bottom: 0%;
	    width: 100%;
	    height: 30%;
	}
	#cookies{
	    position: absolute;
	    bottom: 5%;
	    left: 17%;
	    width: 70%;
	    height: 40%;

	    margin: 0 auto;
	    animation: motion 1s linear 0s infinite alternate; margin-bottom: 0;
	}
	#logo {
	    position: absolute;
	    top: 15%;
	    left: 27%;
	    width: 45%;
	    height: 35%;
	}
	
	.footer {
		background-color: #993333;
		width: 100%;
		position: absolute;
		bottom: 0%;
	}
	#footer1{
		text-align: center;
		color: white;
		font-size: 10px;
	}

	@keyframes motion{
	    0% {margin-bottom: 0px;}
	    100% {margin-bottom: 10px;}
	}
}

@media screen and (max-width: 479px) {
	body{
		background: url('mainground.png');

		font-family: 'CookieRun-Regular';
		font-size: 24px;

		margin: 0rem;
	    padding: 0rem;
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-size: cover;
	}
	#cloud1 {
	    position: absolute;
	    bottom: 0%;
	    width: 100%;
	    height: 30%;
	}
	#cloud2 {
	    position: absolute;
	    bottom: 0%;
	    width: 100%;
	    height: 30%;
	}
	#cookies{
	    position: absolute;
	    bottom: 10%;
	    left: 5%;
	    width: 90%;
	    height: 30%;

	    margin: 0 auto;
	    animation: motion 1s linear 0s infinite alternate; margin-bottom: 0;
	}
	#logo {
	    position: absolute;
	    top: 10%;
	    left: 23%;
	    width: 55%;
	    height: 30%;
	}
	.footer {
		background-color: #993333;
		width: 100%;
		position: absolute;
		bottom: 0%;
	}
	#footer1{
		text-align: center;
		color: white;
		font-size: 10px;
	}

	@keyframes motion{
	        0% {margin-bottom: 0px;}
	        100% {margin-bottom: 10px;}
	}

.navbar {
		flex-direction: column;
		align-items: flex-start;
		padding: 8px 24x;
	}

	.navbar_menu {
		display: none;
		flex-direction:  column;
		align-items: center;
		width: 100%;
		padding: 30px 30x;
	}
	
	.navbar_menu li {
		width: 100%;
		text-align: center;
		height: 100%;
		padding: 30px 30x;
	}

	.navbar_icons {
		display: none;
		justify-content: center;
		width: 100%;
	}

	.navbar_toogleBtn {
		display: block;
	}

	.navbar_menu.active,
	.navbar_icons.active {
		display: flex;
	}
}

@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
